//Utilities
.container{
  width: 90%;
  margin: 0 auto;
  @include mq($mq, md){
    width: 80%;
  }
}
.title{
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  color: $dark-grayish-blue;
  &-sm{
    @extend .title;
    font-size: 1.25em;
  }
  &-lg{
    @extend .title;
    font-size: 1.75em;
  }
}
.text{
  color: $grayish-blue;
  font-weight: 400;
  text-align: center;
  font-size: 1.125rem;
  &-sm{
    @extend .text;
    font-size: .85em;
  }
}
.group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  &-btn{
  @extend .group;
  @include mq($mq, md){
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
  }
  }
  &-link{
    @extend .group;
    margin: 1em auto;
    .link{
      display: inline-block;
      margin: .75em auto;
    }
  }
  &-social{
    @extend .group;
    margin-top: 1em;
    flex-direction: row;
    align-items: center;
    .link{
      display: inline-block;
      margin: 0 1em;
    }
  }
  .btn{
    display: inline-block;
    width: 100%;
    padding: 1em;
    border-radius: 5em;
    margin: .75em 0;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-align: center;
    @include mq($mq, md){
      width: auto;
      padding: 1em 2em;
      margin: .75em 0;
    }
    &-ios{
      @extend .btn;
      background: $strong-cyan;
    }
    &-mac{
      @extend .btn;
      background: $ligh-blue;
    }
  }
}

.link{
  color: $dark-grayish-blue;
  text-decoration: none;
}