* {
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", "Inter", "Open Sans", "SF Pro Display", sans-serif;
  color: #9fabb2;
  text-align: center;
}

.hero {
  background: url("/images/bg-header-mobile.png") top right no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  margin-bottom: 8em;
}
@media screen and (min-width: 768px) {
  .hero {
    background: url("/images/bg-header-desktop.png") top center no-repeat;
  }
}
.hero .container {
  display: flex;
  flex-direction: column;
}
.hero .logo {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

.section {
  margin-bottom: 6em;
}
.section-first {
  margin-bottom: 8em;
}
.section-third {
  margin: 6em auto 8em auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2f2f2;
  padding: 3em 0;
}
.footer .logo {
  display: inline-block;
  width: 15%;
  margin: 0.25em auto;
}

.box, .box-enterprises, .box-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .box-first {
    flex-direction: row;
    width: 110%;
  }
}
.box-img {
  display: inline-block;
  width: 100%;
  margin: 3em auto;
}
@media screen and (min-width: 768px) {
  .box-img {
    position: relative;
    left: -15%;
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .box-list {
    position: relative;
    left: -10%;
  }
  .box-list .title, .box-list .title-lg, .box-list .title-sm {
    text-align: left;
  }
  .box-list .text, .box-list .text-sm {
    text-align: left;
  }
}
.box-enterprises {
  margin-top: 5em;
}
.box-enterprises .img {
  display: inline-block;
  width: 40%;
  margin: 2em auto;
}
.box-icon {
  margin-top: 4em;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

.title, .title-lg, .title-sm {
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
  color: #4c545d;
}
.title-sm {
  font-size: 1.5em;
}
.title-lg {
  font-size: 1.75em;
}

.text, .text-sm {
  color: #9fabb2;
  font-weight: 400;
  text-align: center;
  font-size: 1.125rem;
}
.text-sm {
  font-size: 1em;
}

.group, .group-social, .group-link, .group-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .group-btn {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
  }
}
.group-link {
  margin: 1em auto;
}
.group-link .link {
  display: inline-block;
  margin: 0.75em auto;
}
.group-social {
  margin-top: 1em;
  flex-direction: row;
  align-items: center;
}
.group-social .link {
  display: inline-block;
  margin: 0 1em;
}
.group .btn, .group .btn-mac, .group .btn-ios, .group-btn .btn, .group-btn .btn-mac, .group-btn .btn-ios, .group-link .btn, .group-link .btn-mac, .group-link .btn-ios, .group-social .btn, .group-social .btn-mac, .group-social .btn-ios {
  display: inline-block;
  width: 100%;
  padding: 1em;
  border-radius: 5em;
  margin: 0.75em 0;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .group .btn, .group .btn-mac, .group .btn-ios, .group-btn .btn, .group-btn .btn-mac, .group-btn .btn-ios, .group-link .btn, .group-link .btn-mac, .group-link .btn-ios, .group-social .btn, .group-social .btn-mac, .group-social .btn-ios {
    width: auto;
    padding: 1em 2em;
    margin: 0.75em 0;
  }
}
.group .btn-ios, .group-btn .btn-ios, .group-link .btn-ios, .group-social .btn-ios {
  background: #26baa4;
}
.group .btn-mac, .group-btn .btn-mac, .group-link .btn-mac, .group-social .btn-mac {
  background: #6173ff;
}

.link {
  color: #4c545d;
  text-decoration: none;
}

/*# sourceMappingURL=custom.css.map */
