@import "_variables/variables";
@import "_mixins/mixins";

*{
  box-sizing: border-box;
}
body{
  font-size: 1.125rem;
  font-family: 'Bai Jamjuree', 'Inter', 'Open Sans', 'SF Pro Display', sans-serif;
  color: $grayish-blue;
  text-align: center;
}
.hero{
  background: url('/images/bg-header-mobile.png') top right no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  margin-bottom: 8em;
  .container{
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: inline-block;
    margin: 0 auto;
    width: auto;
  }
}
.section{
  margin-bottom: 6em;
  &-first{
    margin-bottom: 8em;
  }
}
// Box
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-first{
    @extend .box;
  }
  &-img{
    display: inline-block;
    width: 100%;
    margin: 3em auto;
  }
  &-enterprises{
    @extend .box;
    margin-top: 5em;
    .img{
      display: inline-block;
      width: 40%;
      margin: 2em auto;
    }
  }
}
.container{
  width: 90%;
  margin: 0 auto;
}
//Utilities
.title{
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: $dark-grayish-blue;
  &-sm{
    @extend .title;
  }
  &-lg{
    @extend .title;
    font-size: 1.75em;
  }
}
.text{
  color: $grayish-blue;
  font-weight: 400;
  text-align: center;
  font-size: 1.125rem;
}
.group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .btn{
    display: inline-block;
    width: 100%;
    padding: 1.25em;
    border-radius: 5em;
    margin: 1em auto;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-align: center;
    &-ios{
      @extend .btn;
      background: $strong-cyan;
    }
    &-mac{
      @extend .btn;
      background: $ligh-blue;
    }
  }
}