@import "_variables/variables";
@import "_mixins/mixins";
@import "_utilities/utilities";

*{
  box-sizing: border-box;
}
body{
  font-size: 1.125rem;
  font-family: 'Bai Jamjuree', 'Inter', 'Open Sans', 'SF Pro Display', sans-serif;
  color: $grayish-blue;
  text-align: center;
}
.hero{
  background: url('/images/bg-header-mobile.png') top right no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  margin-bottom: 8em;
  @include mq($mq, md){
    background: url('/images/bg-header-desktop.png') top center no-repeat;    
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .logo{
    display: inline-block;
    margin: 0 auto;
    width: auto;
  }
}
// Section
.section{
  margin-bottom: 6em;
  &-first{
    margin-bottom: 8em;
    @include mq($mq, md){
      margin-bottom: 4em;
    }
  }
  &-third{
    margin: 6em auto 8em auto;
  }
}
// Footer
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f2f2f2;
  padding: 3em 0;
  .logo{
    display: inline-block;
    width: 15%;
    margin: .25em auto;
  }
}
// Box
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-first{
    @extend .box;
    @include mq($mq, md){
      flex-direction: row; 
      width: 110%;
    }
    .img{
      display: inline-block;
      width: 100%;
      margin: 3em auto;
      @include mq($mq, md){
        position: relative;
        left: -15%;
        width: 60%; 
      }
    }
  }
  &-second{
    @extend .box;
    @include mq($mq, md){
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      .box-item{
        width: 30%;
        height: auto;
      }
      .box-icon{
        height: 2em;
      }
    }
    .title-sm,
    .text-sm{
    @include mq($mq, md){
      text-align: center;
      }
    }
  }
  &-img{
    display: inline-block;
    width: 100%;
    margin: 3em auto;
  }
  &-list{
    @include mq($mq, md){
      position: relative;
      left: -10%;
      margin-top: 5em;
      margin-left: 3em;
      .title{
        text-align: left;
      }
      .text{
        text-align: left;
      }
    }
  }
  &-enterprises{
    @extend .box;
    margin-top: 5em;
    .img{
      display: inline-block;
      width: 40%;
      margin: 2em auto;
    }
    @include mq($mq, md){
      margin-top: 6em;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      .img{
        display: inline-block;
        width: 14%;
        height: auto;
        margin: auto 0;
      }
    }
  }
  &-icon{
    margin-top: 4em;
  }
}